.chatContainer{
    padding: 30px; 
    width: 100%;
    height: max-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.local{
    padding: 20px;
    border-radius: 20px;
    background: red;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-start;
}

.remoto{
    padding: 20px;
    border-radius: 20px;
    background: blue;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-end;
}

.inputContainer{
    background-color: red;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 5px;
}

input{
    width: 100%
}